@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0c1220;
}

::-webkit-scrollbar-thumb {
  background: #e5e0ff79;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e5e0ffd1;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  overflow: overlay;
}
